@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('theme/variables.scss');

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #f4f4f9;
  color: #050a30 !important;

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .text-gray-600 {
    color: #6b7280;
  }

  .border-green-500 {
    border-color: #28a745 !important;
    background-color: #e6f4ea;
    padding: 20px;
  }

  .toast-white {
    --background: #ffffff;
    /* fondo blanco */
    --color: #050a30;
    /* texto negro */
    --border-radius: 8px;
    /* opcional */
    --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    /* opcional */
  }
}

ion-popover {
  /* Popover base */
  ion-popover.tip-popover {
    /* ancho cómodo y límite para que NUNCA se salga del viewport */
    --width: 272px;
    --max-width: calc(100vw - 24px);
    --background: #fff;
    --color: #050a30;
    --box-shadow: 0 10px 28px rgba(17, 24, 39, .16), 0 2px 6px rgba(17, 24, 39, .08);
    --border-radius: 14px;
    --offset: 10px;
    /* separa más del icono */

    /* por si alguna sombra o arrow se “sale” 1px */
    overflow: visible;
  }

  /* cuerpo real del popover */
  ion-popover.tip-popover::part(content) {
    padding: 14px 16px;
    border: 1px solid rgba(17, 24, 39, .08);
    transform: translateZ(0);
    /* nitidez en iOS */
    -webkit-font-smoothing: antialiased;
  }

  /* flechita */
  ion-popover.tip-popover::part(arrow) {
    width: 12px;
    height: 12px;
    background: #fff;
    box-shadow: -1px -1px 1px rgba(17, 24, 39, .06);
    transform: rotate(45deg);
    border: 1px solid rgba(17, 24, 39, .08);
    border-left: none;
    border-top: none;
  }

  .tip-content {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    color: #050a30;
    letter-spacing: .1px;
    word-break: break-word;
    padding-left: 10px;
    padding-right: 10px;
  }
}
